.custom_einvoice_layout {
    font-family: "DejaVu Sans", sans-serif !important;
}

.custom_einvoice_layout table,
.custom_einvoice_layout td,
.custom_einvoice_layout th,
.custom_einvoice_layout div,
.custom_einvoice_layout span,
.custom_einvoice_layout strong {
    font-family: "DejaVu Sans", sans-serif !important;
}


/* Footer */
.custom_einvoice_footer,
.custom_einvoice_footer div,
.custom_einvoice_footer span,
.custom_einvoice_footer strong {
    font-size: 13px !important;
    font-family: "DejaVu Sans", sans-serif !important;
}

/* ========================================================= */
/* HSN TABLE - DO NOT REPEAT HEADER ON NEXT PAGE            */
/* ========================================================= */

.table-hsn thead {
    display: table-row-group !important;
}