.standard_invoice_page {
    font-size: 7px !important;
}

.standard_invoice_page table {
    font-size: 6px !important;
}

.standard_invoice_page th,
.standard_invoice_page td {
    font-size: 6px !important;
}